<!DOCTYPE html>
<html lang="es">
   <!-- //HEAD PARTIALS-->
   <%- include('./partials/head',{
    title:'Dashboard'
})  %>

  <body style="background-image: url('/img/home/logoHome.png'); background-repeat: repeat;"> 
    <%- include('./partials/header-admin') %>

    <main class="container">
       
    </main>

  <%- include('./partials/scripts') %>
</body>
</html>